.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  line-height: 60px;
}
.subHeading {
  font-size: large;
  font-weight: bold;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darkblue;
}
.showImg {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  padding-left: 50px;
}
.employee {
  background: pink;
}
.log {
  background-image: linear-gradient(lightskyblue, lightgrey);
  border-radius: 10px;
  max-width: 500px;
  margin-top: 100px;
}
.modal-update,
.modal-body {
  line-height: 20px;
}
.card-body {
  line-height: 40px;
}
.displayInflex {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
}
.Link-div {
  display: none;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.paginationBttns a:hover {
  color: white;
  background-color: blue;
}
.paginationActive a {
  color: white;
  background-color: blue;
}
.card {
  height: auto;
  width: auto;
  max-width: 350px;
  margin: 60px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 6px 10px 3px darkolivegreen;
}
.card-body {
  font-size: large;
  text-align: left;
}
.card-button {
  padding-top: 50px;
}
